# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Taller1/convz.m
*.aux
Taller1/Informe_Taller_1.bbl
*.blg
Taller1/Informe_Taller_1.log
*.gz
Taller1/Informe_Taller_1Notes.bib
Taller1/segypy.py
Taller1/Uniandes_2016-I_GEOC3049_TALLER1.pdf
Taller1/segypy.pyc
Taller1/WriteSegy.m
